<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Bank</ui:define>
		<ui:define name="content">
			<h:form id="form">
				<p:dataTable value="#{data.accounts}" var="account" selectionMode="single">
					<p:ajax event="rowSelect"
						process="@this"
						listener="#{logic.onAccountSelected}"
						update=":#{p:component('selectedAccountWrapper')}" />
					<p:column headerText="Name">
						<h:outputText value="#{account.name}" />
					</p:column>
					<p:column headerText="Account type">
						<h:outputText value="#{account.type}" />
					</p:column>
					<p:column headerText="Balance" style="text-align: right;">
						<h:outputText value="#{account.balance}">
							<f:convertNumber maxFractionDigits="2"
									 minFractionDigits="2"
									 locale="US"
									 currencySymbol="$" />
						</h:outputText>
					</p:column>
				</p:dataTable>
				<h:panelGroup id="selectedAccountWrapper">
					<h:panelGroup rendered="#{data.selectedAccount != null}">
						<h1>Selected Account</h1>
						<h:panelGrid columns="2" >
							<h:outputLabel value="Acount name: " />
							<h:outputText value="#{data.selectedAccount.name}" />
							
							<h:outputLabel value="Type: " />
							<h:outputText value="#{data.selectedAccount.type}" />
							
							<h:outputLabel for="withdrawAmount" value="Withdraw amount: " />
							<pe:inputNumber id="withdrawAmount"
									decimalPlaces="2" decimalSeparator="."
									thousandSeparator=","
									symbol="$"
									symbolPosition="p"
									value="#{data.withdrawAmount}" />
						</h:panelGrid>
						<p:commandButton process="@form" actionListener="#{logic.processWithdraw}" value="Process" update=":form" />
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>