<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">RegisterPage</ui:define>
		<ui:define name="content">
			<h3>Register Account</h3>
			
			<h:form id="form">
				<h:panelGrid columns="2">
					<f:facet name="header">
						<p:messages></p:messages>
					</f:facet>
					
					<p:outputLabel for="fullName" value="Full name: " />
					<p:inputText id="fullName" value="#{data.temporaryAccount.fullName}" />
					
					<p:outputLabel for="username" value="Username: " />
					<p:inputText id="username" value="#{data.temporaryAccount.username}" validator="usernameValidator" />
					
					<p:outputLabel for="password" value="Password: " />
					<p:inputText id="password" type="password" value="#{data.temporaryAccount.password}" />
					<br/><p:commandButton actionListener="#{logic.submit}" value="Proceed" update="form" icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>